<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>

          <div class="row text-white">
            <div class="col-md-3 mb-3"></div>
            <div class="col-md-3 mb-3">
              <label for="gameId">Game ID:&nbsp;&nbsp;</label>
              <small id="gameId">{{ game?.id ?? "undefined" }}</small>
            </div>
            <div class="col-md-3 mb-3">
              <label for="playerTurn">Player Turn:&nbsp;&nbsp;</label>
              <small class="text-white" id="playerTurn">{{ game?.activePlayer ?? "undefined" }}</small>
            </div>
            <div class="col-md-3 mb-3"></div>
          </div>

          <div class="d-flex justify-content-center">
            <div class="board">
              <div class="section endsection">
                <div class="pit" id="mb" (click)="sow(game?.pits?.at(13)?.id)">
                  <div class="text-white stone">{{ game?.pits?.at(13)?.stonesCount}}</div>
                </div>
              </div>
              <div class="section midsection">
                <div class="midrow topmid">
                  <div class="pit" id="pt12" (click)="sow(game?.pits?.at(12)?.id)">
                    <div class="text-white stone">{{ game?.pits?.at(12)?.stonesCount}}</div>
                  </div>
                  <div class="pit" id="pt11" (click)="sow(game?.pits?.at(11)?.id)">
                    <div class="text-white stone">{{ game?.pits?.at(11)?.stonesCount}}</div>
                  </div>
                  <div class="pit" id="pt10" (click)="sow(game?.pits?.at(10)?.id)">
                    <div class="text-white stone">{{ game?.pits?.at(10)?.stonesCount}}</div>
                  </div>
                  <div class="pit" id="pt9" (click)="sow(game?.pits?.at(9)?.id)">
                    <div class="text-white stone">{{ game?.pits?.at(9)?.stonesCount}}</div>
                  </div>
                  <div class="pit" id="pt8" (click)="sow(game?.pits?.at(8)?.id)">
                    <div class="text-white stone">{{ game?.pits?.at(8)?.stonesCount}}</div>
                  </div>
                  <div class="pit" id="pt7" (click)="sow(game?.pits?.at(7)?.id)">
                    <div class="text-white stone">{{ game?.pits?.at(7)?.stonesCount}}</div>
                  </div>
                </div>
                <div class="midrow botmid">
                  <div class="pit" id="pt0" (click)="sow(game?.pits?.at(0)?.id)">
                    <div class="text-white stone">{{ game?.pits?.at(0)?.stonesCount}}</div>
                  </div>
                  <div class="pit" id="pt1" (click)="sow(game?.pits?.at(1)?.id)">
                    <div class="text-white stone">{{ game?.pits?.at(1)?.stonesCount}}</div>
                  </div>
                  <div class="pit" id="pt2" (click)="sow(game?.pits?.at(2)?.id)">
                    <div class="text-white stone">{{ game?.pits?.at(2)?.stonesCount}}</div>
                  </div>
                  <div class="pit" id="pt3" (click)="sow(game?.pits?.at(3)?.id)">
                    <div class="text-white stone">{{ game?.pits?.at(3)?.stonesCount}}</div>
                  </div>
                  <div class="pit" id="pt4" (click)="sow(game?.pits?.at(4)?.id)">
                    <div class="text-white stone">{{ game?.pits?.at(4)?.stonesCount}}</div>
                  </div>
                  <div class="pit" id="pt5" (click)="sow(game?.pits?.at(5)?.id)">
                    <div class="text-white stone">{{ game?.pits?.at(5)?.stonesCount}}</div>
                  </div>
                </div>
              </div>
              <div class="section endsection">
                <div class="pit" id="mt" (click)="sow(game?.pits?.at(6)?.id)">
                  <div class="text-white stone">{{ game?.pits?.at(6)?.stonesCount}}</div>
                </div>
              </div>
            </div>
          </div>

          <ul class="text-center list-unstyled py-3">
            <li *ngIf="game?.status === eStatus.WIN" class="list-item">
              <div class="text-white">Player {{game?.winner}} won! Congratulations!</div>
            </li>
            <li *ngIf="game?.status === eStatus.DRAW" class="list-item">
              <div class="text-white">It's a DRAW!</div>
            </li>
            <li *ngFor="let error of game?.errors" class="list-item">
              <div *ngIf="error" class="error-block">{{error}}</div>
            </li>
          </ul>

          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <button type="button" (click)="startNewGame()" class="btn btn-info">Start New Game</button>
            </li>
          </ul>

        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
